
.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  z-index: 1;
}

#square1 {
  height: 0px;
  width: 0px;
  background-color: #CCFFCC;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -80px;
  -webkit-transform: rotate(-45deg);
  -webkit-animation: square1anim 1.6s infinite linear;
}
#square2 {
  height: 0px;
  width: 0px;
  background-color: #00ee77;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -30px;
  -webkit-transform: rotate(-45deg);
  -webkit-animation: square2anim 1.6s infinite linear;
}
#square3 {
  height: 0px;
  width: 0px;
  background-color: #00aa99;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: 30px;
  -webkit-transform: rotate(-45deg);
  -webkit-animation: square3anim 1.6s infinite linear;
}
#square4 {
  height: 0px;
  width: 0px;
  background-color: #0077aa;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: 80px;
  -webkit-transform: rotate(-45deg);
  -webkit-animation: square4anim 1.6s infinite linear;
}

@-webkit-keyframes square1anim {
  0% {
    -webkit-transform: rotate(-45deg);
    height: 0px;
    width: 0px;
    margin-top: -30px;
    margin-left: -80px;
  }
  20% {
    -webkit-transform: rotate(0deg);
    height: 80px;
    width: 80px;
    margin-left: -125px;
    margin-top: -60px;
  }
  40% {
    height: 0px;
    width: 0px;
    margin-top: -30px;
    margin-left: -80px;
    -webkit-transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@-webkit-keyframes square2anim {
  0% {
    height: 0px;
    width: 0px;
    margin-top: -30px;
    margin-left: -30px;
  }
  5% {
    -webkit-transform: rotate(-45deg);
    height: 0px;
    width: 0px;
    margin-top: -30px;
    margin-left: -30px;
  }
  25% {
    -webkit-transform: rotate(0deg);
    height: 80px;
    width: 80px;
    margin-left: -70px;
    margin-top: -60px;
  }
  45% {
    height: 0px;
    width: 0px;
    margin-top: -30px;
    margin-left: -30px;
    -webkit-transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@-webkit-keyframes square3anim {
  0% {
    height: 0px;
    width: 0px;
    margin-top: -30px;
    margin-left: 30px;
  }
  10% {
    -webkit-transform: rotate(-45deg);
    height: 0px;
    width: 0px;
    margin-top: -30px;
    margin-left: 30px;
  }
  30% {
    -webkit-transform: rotate(0deg);
    height: 80px;
    width: 80px;
    margin-left: 0px;
    margin-top: -60px;
  }
  50% {
    height: 0px;
    width: 0px;
    margin-top: -30px;
    margin-left: 20px;
    -webkit-transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@-webkit-keyframes square4anim {
  0% {
    height: 0px;
    width: 0px;
    margin-top: -30px;
    margin-left: 80px;
  }
  15% {
    -webkit-transform: rotate(-45deg);
    height: 0px;
    width: 0px;
    margin-top: -30px;
    margin-left: 80px;
  }
  35% {
    -webkit-transform: rotate(0deg);
    height: 80px;
    width: 80px;
    margin-left: 50px;
    margin-top: -60px;
  }
  55% {
    height: 0px;
    width: 0px;
    margin-top: -30px;
    margin-left: 80px;
    -webkit-transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
