<!--<div style="position:absolute;left:150px;top:20px;z-index:2">
<div (click)="disp()" style="background:url('https://www.iscar.hr/media/icons/menu-hamburger.png');
background-size:cover;
background-repeat:no-repeat;
background-color:white;
width:30px;
height:30px;
display:inline-block"></div>
  <input type="text" name="" value="Search..." class="form-control">
</div>
-->
<nav [ngClass]="display">
<div class="h3" style="text-align:center !important">  Rathesh Maps</div>
  <ul>
    <hr>
    <li *ngFor="let link of links; index as num"> <span class="icon"> <img height="25" src="assets/images/marker-icon.png" alt="icone" /></span>{{link}}     <span *ngIf="num != 0 && num%4==0" > <hr></span></li>
  </ul>
</nav>
